<ng-container *ngIf="(courseInformation$ | async) as courseInformation">

        <div class="course">

            <h2>{{ courseInformation.course?.description }}</h2>

            <img class="course-thumbnail" *ngIf="courseInformation.course" [src]="courseInformation.course?.iconUrl">

            <table class="lessons-table mat-elevation-z7" *ngIf="courseInformation.lessons?.length">

                <thead>
                    <th>#</th>
                    <th>Description</th>
                    <th>Duration</th>
                </thead>

                <tr class="lesson-row" *ngFor="let lesson of courseInformation.lessons">
                    <td class="seqno-cell">{{ lesson.seqNo }}</td>
                    <td class="description-cell">{{ lesson.description }}</td>
                    <td class="duration-cell">{{ lesson.duration }}</td>
                </tr>

            </table>

        </div>

</ng-container>
